.profile-title {
  color: #000 !important;
  font-family: 'Poppins' !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
  letter-spacing: 0.14px !important;
}

.profile-username {
  color: #757575 !important;
  font-family: 'Poppins' !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
  letter-spacing: 0.12px !important;
}

body {
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
}

nav {
  background-color: #444;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
}

main {
  padding: 2rem;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

/* Media queries for responsiveness */
@media (max-width: 767px) {
  header {
    font-size: 1.2rem;
  }

  nav {
    font-size: 1rem;
  }

  main {
    padding: 1rem;
  }

  footer {
    font-size: 0.9rem;
  }
}